html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*header*/

#header {
  display: inline-flex;
  width: 100%;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  margin: 20px 10px 0px 10px;
  z-index: 5;
  max-height: 69px;
}

.menu {
  display: inline-flex;
}

nav li {
  flex-wrap: nowrap;
  display: inline-flex;
}

a {
  color: seashell;
  text-decoration: underline;
  display: inline-flex;
  justify-content: flex-end;
  width: 1000px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 150px;
  align-items: baseline;
}

.logo {
  height: 50px;
  display: inline-flex;
  align-items: center;
}
/*mission*/

/*tea*/

/*locations*/

/*contact*/
